mat-toolbar {
    display: flex;
    justify-content: space-between;
}

.menu-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

@media (max-width: 600px) {
    .menu-container {                
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1000;
        background-color: #222e;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .menu-icon {
        z-index: 2000;
    }
    .title-container {
        z-index: 2000;
    }
}

.search-field {
    margin-top: 22px !important;
    width: 100%;    
}    

.search-button {    
    background-color: #8e5ebb !important;
    color: #eee !important;
    padding-left: 15px !important;
    padding-right: 0px !important;
}

.filter-type-field {
    margin-top: 5px;
}

.filter-generation-field {
    margin-top: 5px;
}

.grid-container{
    background: linear-gradient(180deg,#eee 20%,#ccc);
}
mat-card {
    display: flex;
    flex-direction: column;
    background-color: #f5f4f4;
    padding: 0px;
    width: 80%;
    height: 90%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
}

mat-card:hover {
    transform: translateY(-15px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
  
mat-card-header{
    background-color: #f5f4f4;
    color: #fff;
    border-radius: 10px;
}

mat-card-content {
    color: #463e3e;
    font-family: sans-serif;
    font-weight: 550;
    flex-grow: 1;
    padding: 8px;
    background-color: #eee;
    border-radius: 10px;
    border: solid 15px #f5f4f4;    
}

img {
    background-color: #f5f4f4;;
    margin: 20px;
}

img.mat-card-image {
    max-height: 120px;
    object-fit: contain;
}
mat-card {
    margin: 0;
    padding: 0;
}
  
mat-grid-list {
    margin: 0;
    padding: 0;
}
.types{
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.type-grass{
    background-color: #1cb477;
    color: #fff;
    font-size: medium;
    padding: 10px;
    margin-right: 5px;
    border-radius: 15px;
}
.type-fire{
    background-color: #e04f16;
    color: #fff;
    font-size: medium;
    padding: 10px;
    margin-right: 5px;
    border-radius: 15px;
}
.type-poison{
    background-color: #b41cac;
    color: #fff;
    font-size: medium;
    padding: 10px;
    margin-right: 5px;
    border-radius: 15px;
}
.type-bug{
    background-color: #729f3f;
    color: #fff;
    font-size: medium;
    padding: 10px;
    margin-right: 5px;
    border-radius: 15px;
}
.type-dark{
    background-color: #707070;
    color: #fff;
    font-size: medium;
    padding: 10px;
    margin-right: 5px;
    border-radius: 15px;
}
.type-dragon{
    background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
    color: #fff;
    font-size: medium;
    padding: 10px;
    margin-right: 5px;
    border-radius: 15px;
}
.type-electric{
    background-color: #eed535;
    color: #333;
    font-size: medium;
    padding: 10px;
    margin-right: 5px;
    border-radius: 15px;
}
.type-fairy{
    background-color: #fdb9e9;
    color: #333;
    font-size: medium;
    padding: 10px;
    margin-right: 5px;
    border-radius: 15px;
}
.type-fighting{
    background-color: #d56723;
    color: #fff;
    font-size: medium;
    padding: 10px;
    margin-right: 5px;
    border-radius: 15px;
}
.type-flying{
    background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
    color: #333;
    font-size: medium;
    padding: 10px;
    margin-right: 5px;
    border-radius: 15px;
}
.type-ghost{
    background-color: #7b62a3;
    color: #fff;
    font-size: medium;
    padding: 10px;
    margin-right: 5px;
    border-radius: 15px;
}
.type-ground{
    background: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
    color: #fff;
    font-size: medium;
    padding: 10px;
    margin-right: 5px;
    border-radius: 15px;
}
.type-ice{
    background-color: #51c4e7;
    color: #333;
    font-size: medium;
    padding: 10px;
    margin-right: 5px;
    border-radius: 15px;
}
.type-normal{
    background-color: #a4acaf;
    color: #333;
    font-size: medium;
    padding: 10px;
    margin-right: 5px;
    border-radius: 15px;
}
.type-psychic{
    background-color: #f366b9;
    color: #fff;
    font-size: medium;
    padding: 10px;
    margin-right: 5px;
    border-radius: 15px;
}
.type-rock{
    background-color: #a38c21;
    color: #fff;
    font-size: medium;
    padding: 10px;
    margin-right: 5px;
    border-radius: 15px;
}
.type-steel{
    background-color: #9eb7b8;
    color: #333;
    font-size: medium;
    padding: 10px;
    margin-right: 5px;
    border-radius: 15px;
}
.type-water{
    background-color: #4592c4;
    color: #fff;
    font-size: medium;
    padding: 10px;
    margin-right: 5px;
    border-radius: 15px;
}

.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;    
}

mat-spinner {    
    --mdc-circular-progress-active-indicator-color: #8e5ebb;
}