<div>
    <mat-form-field appearance="fill" style="width: 50%;">
        <mat-label>Buscar Pokemon</mat-label>
        <input matInput placeholder="Nombre o ID..." [(ngModel)]="busqueda" (keyup.enter)="buscarPokemon()">
    </mat-form-field>
    <button mat-flat-button style="margin-right: 100px;" (click)="buscarPokemon()">Buscar</button>

    <mat-form-field appearance="fill">
        <mat-label>Filtrar por Tipo</mat-label>
        <mat-select [(ngModel)]="tipoSeleccionado" (selectionChange)="cambioDeTipo()">
            <mat-option value="">Todos</mat-option>
            <mat-option *ngFor="let tipos of types" [value]="tipos">
                {{traducirTipo(tipos)}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Filtrar por Generación</mat-label>
        <mat-select [(ngModel)]="generacionSeleccionada" (selectionChange)="cambioDeGeneracion()">
            <mat-option value="">Todos</mat-option>
            <mat-option *ngFor="let generaciones of generations" [value]="generaciones">
                Generación - {{generaciones}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>

<div (scroll)="onScroll($event)" style="height: 80vh; overflow-y: auto; padding: 16px;" class="grid-container">   
    <div *ngIf="cargandoNuevos" class="spinner-container">
        <mat-spinner *ngIf="cargandoNuevos"></mat-spinner>
    </div> 
    <mat-grid-list [cols]="cols" rowHeight="2.5:4">
        <mat-grid-tile *ngFor="let pokemon of pokemonList">
            <mat-card (click)="mostrarDetalles(pokemon.id)">
                <mat-card-header>
                    <!--<mat-card-title>{{pokemon.name | titlecase }}</mat-card-title>-->
                </mat-card-header>
                <img mat-card-image [src]="pokemon.sprites.frontDefault" alt="pokemon">
                <span style="background-color: #e3350d;"></span>
                <mat-card-content >
                    <span style="opacity: 0.5;">Nro. {{pokemon.id | number:'3.0'}}</span>
                    <h1>{{pokemon.name | titlecase}}</h1>                    
                    <div class="types"></div>
                    <span *ngFor="let tipos of pokemon.types" [class]="'type-' + tipos">
                        {{traducirTipo(tipos)}}
                    </span>                              
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
    <div *ngIf="!cargandoNuevos && isLoading" class="spinner-container">
        <mat-spinner *ngIf="!cargandoNuevos && isLoading"></mat-spinner>
    </div>
</div>
<!--<button (click)="cargarMas()" style="width: 98.7vw; height: 100px;">Cargar mas</button>-->
       
